<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    


</head>
<body> 

  <header class="text-light">
    <ul class="nav nav-pills bg-dark ">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="/" role="button" aria-expanded="false">ALBUMS</a>
          <ul class="dropdown-menu text-light">
            <li><a class="dropdown-item" href="/thankmelater">Thank Me Later</a></li>
            <li><a class="dropdown-item" href="takecare">Take Care</a></li>
            <li><a class="dropdown-item" href="/nothingwasthesame">Nothing Was the Same</a></li>
            <li><a class="dropdown-item" href="/views">Views</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/scorpion">Scorpion</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/albums">VIEW ALL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/feedback">MESSAGE US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/chat">CHAT ROOM</a>
        </li>
     
      </ul>
     
    </header>


    <div class="row d-flex flex-row select">
        <div class="">
            <article class=" ">
                <div class="container" >

                    <div class="row p-2 flex-wrap" >
                     
                        
                <h3 class="speakerslist-title">Thank Me Later</h3>
                        <div class="col-4 m-0 p-0 d-flex align-items-center ">
                            <a> <img class=""
                                src="/images/firstAlbum.jpg"
                                alt="Photo of first album "></a>
                        </div>
    
        <div class="col-6 d-flex align-items-center ">                    
            <p>
                            2010 debut album from the Canadian Hip Hop sensation and Lil' Wayne protg. Thank Me Later features guest appearances from Alicia Keys, T.I., Jay-Z, The Dream, Young Jeezy and Lil Wayne. Drake has already enjoyed Top 10 chart success in the UK as a key member of the Young Money collective. You will also have heard Drake's distinctive flow on big singles from the likes of Jay-Z, Eminem, Alicia Keys, Kanye West, Lil Wayne and Mary J Blige to name but a few. Born into a musical family, his father drummed with Jerry Lee Lewis, and his uncle is the legendary bass player Larry Graham.

                            </p>
        </div>

        <div class="col-2 d-flex align-items-center ">   
            
            <ol>
                <h3>Tracks</h3>
                <li>Fireworks</li>
                <li>Karaoke</li>
                <li>The Resistance</li>
                <li>Over</il>
                <li>Show Me a Good Time</li>
                <li>Up All Night</li>
                <li>Fancy</li>
                <li>Shut It Down</li>
                <li>Unforgettable</li>
                <li>Light Up</li>
                <li>Miss Me</li>
                <li>Cece's Interlude</li>
                <li>Find Your Love</li>
                <li>Thank Me Now</li>
            </ol>
        </div>    
                        </div>
                    </div>
                    </div><!-- row -->
                </div><!-- container -->
            </article>
        </div><!-- primary -->
        </div>

<hr>

    <div class="row d-flex flex-row select">
        <div class="">
            <article class=" ">
                <div class="container" >

                    <div class="row p-2 flex-wrap" >
                     
                        
                <h3 class="speakerslist-title">Take Care</h3>
                        <div class="col-4 m-0 p-0 d-flex align-items-center ">
                            <a> <img class=""
                                src="/images/secondAlbum.jpg"
                                alt="Photo of first album "></a>
                        </div>
    
        <div class="col-6 d-flex align-items-center ">                    
            <p>
                Take Care is the second studio album by Drake. It was released on November 15, 2011 by Young Money Entertainment, Cash Money Records and Universal Republic Records. The album features guest appearances from The Weeknd, Rihanna, Kendrick Lamar, Birdman, Nicki Minaj, Rick Ross, Lil Wayne, and André 3000. Alongside prominent production from the album's executive producers Drake and 40, further contributors include T-Minus, Chantal Kreviazuk, Boi-1da, Illangelo, Jamie xx, Supa Dups, Just Blaze, Chase N. Cashe, and Doc McKinney.        

                            </p>
        </div>

        <div class="col-2 d-flex align-items-center ">   
            
            <ol>
                <h3>Tracks</h3>
                <li>Over My Dead Body</li>
                <li>Shoot for Me</li>
                <li>Headlines</li>
                <li>Crew Love</il>
                <li>Take Care</li>
                <li>Marvin's Room</li>
                <li>Burried Alive Interlude</li>
                <li>Under Ground Kinds</li>
                <li>We'll Be Fine</li>
                <li>Make Me Proud</li>
                <li>Lord Knows</li>
                <li>Cameras/Good Ones Go Interlude</li>
                <li>Doing It Wrong</li>
                <li>Look What You've Done</li>
                <li>HYFR</li>
                <li>Practice</li>
                <li>The Ride</li>
            </ol>
        </div>    
                        </div>
                    </div>
                    </div><!-- row -->
                </div><!-- container -->
            </article>
        </div><!-- primary -->
        </div>

<hr>


    <div class="row d-flex flex-row select">
        <div class="">
            <article class=" ">
                <div class="container" >

                    <div class="row p-2 flex-wrap" >
                     
                        
                <h3 class="speakerslist-title">Nothing Was The Same</h3>
                        <div class="col-4 m-0 p-0 d-flex align-items-center ">
                            <a> <img class=""
                                src="/images/thirdAlbum.jpg"
                                alt="Photo of first album "></a>
                        </div>
    
        <div class="col-6 d-flex align-items-center ">                    
            <p>
                2013 release, the third album from the Canadian actor, rapper and R&B star. 'Hold On, We're Going Home' coasts along on his hypnotic R&B crooning, bringing together an immediately unforgettable hook with silky and seductive soundscapes. Hearing both the delivery and magnetic production, it's clear that Drake's home is at the very top. The track also follows up the smash hit 'Started From The Bottom', which peaked at #6 on the Billboard Hot 100 and is now nearing double-platinum status. Cash Money Records co-founder and CEO Bryan 'Baby' Williams aka Birdman enthusiastically states, 'an artist like Drake comes along only once in a lifetime. His talent as a lyricist, performer, and creative is unparalleled.'
                            </p>
        </div>

        <div class="col-2 d-flex align-items-center ">   
            
            <ol>
                <h3>Tracks</h3>
                <li>Tuscan Leather</li>
                <li>Furthest Things</li>
                <li>Started from the Bottom</li>
                <li>Wu-Tang Forever</il>
                <li>Own It</li>
                <li>Worst Behavior</li>
                <li>From Time</li>
                <li>Hold On, We're Going Home</li>
                <li>Connect</li>
                <li>The Language</li>
                <li>305 to My City</li>
                <li>Too Much</li>
                <li>Pound Cake</li>
                <li>Come Thru</li>
                <li>All Me</li>
            </ol>
        </div>    
                        </div>
                    </div>
                    </div><!-- row -->
                </div><!-- container -->
            </article>
        </div><!-- primary -->
        </div>

<hr>


    <div class="row d-flex flex-row select">
        <div class="">
            <article class=" ">
                <div class="container" >

                    <div class="row p-2 flex-wrap" >
                     
                        
                <h3 class="speakerslist-title">Views</h3>
                        <div class="col-4 m-0 p-0 d-flex align-items-center ">
                            <a> <img class=""
                                src="/images/fourthAlbum.jpg"
                                alt="Photo of first album "></a>
                        </div>
    
        <div class="col-6 d-flex align-items-center ">                    
            <p>
                Views takes influence from West Indian and West African music. The album marks Drake's first full foray into Jamaican dancehall music, while also featuring other genres such as R&B, trap, Afrobeat, UK funky, and pop. Similar to his previous records, the album sees Drake discussing his relationship woes, experiences with betrayal, and celebrations of loyalty and friendship. The album debuted at number one on the US Billboard 200, with over one million album-equivalent units earned in its first week of release, including 852,000 copies, and achieving a then record over 245 million streams.         

                            </p>
        </div>

        <div class="col-2 d-flex align-items-center ">   
            
            <ol>
                <h3>Tracks</h3>
                <li>Keep the Family Close</li>
                <li>9</li>
                <li>U With Me?</li>
                <li>Feel No Ways</il>
                <li>Hype</li>
                <li>Weston Road Flows</li>
                <li>Redemption</li>
                <li>With You</li>
                <li>Faithful</li>
                <li>Still Here</li>
                <li>Controlla</li>
                <li>One Dance</li>
                <li>Grammys</li>
                <li>Child's Play</li>
                <li>Pop Style</li>
                <li>Too Good</li>
                <li>Summer's Over Interlude</li>
                <li>Fire & Desire</li>
                <li>Views</li>
                <li>Hotline Bling</li>
            </ol>
        </div>    
                        </div>
                    </div>
                    </div><!-- row -->
                </div><!-- container -->
            </article>
        </div><!-- primary -->
        </div>

<hr>

    <div class="row d-flex flex-row select">
        <div class="">
            <article class=" ">
                <div class="container" >

                    <div class="row p-2 flex-wrap" >
                     
                        
                <h3 class="speakerslist-title">Scorpion</h3>
                        <div class="col-4 m-0 p-0 d-flex align-items-center ">
                            <a> <img class=""
                                src="/images/fifthAlbum.jpg"
                                alt="Photo of first album "></a>
                        </div>
    
        <div class="col-6 d-flex align-items-center ">                    
            <p>
                Scorpion is Drake's the fifth studio album. It was released on June 29, 2018, by Cash Money Records, Republic Records, and Young Money Entertainment. It is executively produced by Drake himself, alongside frequent collaborator 40 and manager Oliver El-Khatib. Scorpion broke Spotify's one-day global record for album streams with 132.45 million streams. It also broke Apple Music's single-day record with 170 million streams, breaking Drake's own record set with More Life.            

                            </p>
        </div>

        <div class="col-2 d-flex align-items-center ">   
            
            <ol>
                <h3>Tracks</h3>
                <li>Survival</li>
                <li>Nonstop</li>
                <li>Elevate</li>
                <li>Emotionless</il>
                <li>God's Plan</li>
                <li>I'm Upset</li>
                <li>8 Out of 10</li>
                <li>Mob Ties</li>
                <li>Can't Take a Joke</li>
                <li>Sandra's Rose</li>
                <li>Talk Up</li>
                <li>Is There More</li>
                <li>Peak</li>
                <li>Summer Games</li>
                <li>Jaded</li>
                <li>Nice for What</li>
                <li>Finesse</li>
                <li>Ratchet Happy Borthday</li>
                <li>That's How You Feel</li>
                <li>Blue Tint</li>
                <li>In My Feelings</li>
                <li>Don't Matter to Me</li>
                <li>After Dark</li>
                <li>Final Fantasy</li>
                <li>March 14</li>
            </ol>
        </div>    
                        </div>
                    </div>
                    </div><!-- row -->
                </div><!-- container -->
            </article>
        </div><!-- primary -->
        </div>










      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
          crossorigin="anonymous"></script>
</body>
</html>