<header class="text-light">
    <ul class="nav nav-pills bg-dark">
        <li class="nav-item">
          <a class="nav-link text-light shadow" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light shadow" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ALBUMS</a>
          <ul class="dropdown-menu text-light">
            <li><a class="dropdown-item" href="/albums/thankme">Thank Me Later</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/albums/takecare">Take Care</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/albums/nothing">Nothing Was the Same</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/albums/views">Views</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/albums/scorpion">Scorpion</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light shadow" href="/albums">VIEW ALL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light shadow" href="/feedback">MESSAGE US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light shadow" href="/chat">CHAT ROOM</a>
        </li>
     
      </ul>
     
    </header>
